body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#app {
  display: flex;
  justify-content: space-around;
}

button {
  width: 2em;
  height: 1em;
}